{{! DELETE THIS LINE TO ACTIVE DONATE BUTTON ///////////////////////////////////////////////////////

	<form class="donatebutton" action="https://www.paypal.com/cgi-bin/webscr" method="post" target="_top">
		<h3>
			<!--Text mesage -->
			<strong class="fa-coffee"></strong>/<strong class="fa-beer"></strong> Donate Button
		</h3>
		<!-- PayPal account-->
		<input type="hidden" name="business" value="yourmail@domain.com" />
		<!-- Languaje US-English | DE-German | BE-Dutch | FR-French | BR-Portuguese | C2-Simplified Chinese | DK-Danish | RU-Russian | HK-Traditional Chinese | IL-Hebrew | IT-Italy | ES-Spanish | NO-Norwegian | PL-Polish | SE-Swedish | TH-Thai | TR-Turkish -->
		<input type="hidden" name="lc" value="US" />
		<!-- Currency USD | AUD | BRL | GBP | CAD | CZK | DKK | EUR | HKD | HUF | ILS | JPY | MXN | TWD | NZD | NOK | PHP | PLN | RUB | SGD | SEK | CHF | THB -->
		<input type="hidden" name="currency_code" value="USD" />
		<!-- DELETE THIS LINE TO ACTIVE FIX AMOUNT
			<input type="hidden" name="amount" value="20.00">
		DELETE THIS LINE TO ACTIVE FIX AMOUNT -->
		<!-- Button-->
		<input type="image" src="https://www.paypalobjects.com/en_US/i/btn/btn_donate_LG.gif" border="0" name="submit" />
		<!-- Donation Name-->
		<input type="hidden" name="item_name" value="Donation for yur name/company" />
		<input type="hidden" name="cmd" value="_donations" />
		<input type="hidden" name="no_note" value="0" />
	</form>

DELETE THIS LINE TO ACTIVE DONATE BUTTON ///////////////////////////////////////////////////////}}




