<footer class="site-footer">
    <h2 class="blog-description">{{@blog.description}}</h2>
    <section class="copyright">Copyright © <a href="">{{@blog.title}}</a> 2014 • All rights reserved.</section>
    <a class="subscribe fa-rss" href="{{@blog.url}}/rss/"> Subscribe!</a>
</footer>